body {
	margin: 0;
}

#navbar {
	background-color: black;
	color: white;
	text-align: center;
  padding: 1.5%;
  opacity: .7;
}


.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-2 {
  background-image: url("bg-2.jpg");
  min-height: 500px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.titulo {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Passion One', cursive;  
  color: red;
  text-align: center;
  margin: 0;
  padding-top: 9%;
}

table td{
	padding: 8px;
}

p {
  margin: 0!important;
  letter-spacing: 5px;
}